{% extends 'layout.twig' %}

{% block link %}
	<link href="/meta/checkout.css" rel="stylesheet">
{% endblock %}

{% block title product.name %}

{% block body %}
	<div class="card mb-3" style="max-width: 540px;">
		<div class="row g-0">
			<div class="col-md-4">
			{% include "@basket/basket.twig" %}
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">Récapitulatif du produit</h5>
					<p class="card-text">
						<h2>Infomation de paiements</h2>
					</p>
					<p>
						{{card.brand}}
						- *** ***
						{{card.last4}}
					</p>
					{% if current_user() %}
						<form action="{{ path('basket.order.process') }}" method="post">
						{{ csrfInput() }}
							<input type="input" name="{{stripeToken}}">
							<input type="submit" class="btn btn-primary" value="pay">
						</form>
					{% else %}
						<a href="{{path('auth.login')}}" class="btn btn-primary">
							Acheter le produit</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script src="https://js.stripe.com/v3/"></script>
	<script src="/meta/checkout.js" defer></script>
{% endblock %}
