{% extends 'layout.twig' %}

{% block title post.name %}

{% block body %}


	<div class='container'>
		<h1>{{ post.name}}</h1>
		{% if post.categoryName %}
			<a href="{{ path('blog.category', {slug: post.categorySlug})}}" titre="{{post.categoryName}}">{{post.categoryName}}</a>
		{% endif %}

		<p>
			{{ post.createdAt | ago }}
		</p>

		<p>
			{% if post.image %}
				<img src="{{post.imageUrl}}" alt="{{post.name}}" width="600" height="300">
			{% endif %}
		</p>

		<p>
			{{post.content | nl2br }}
		</p>
	</div>

{% endblock %}
